
@{
    ViewBag.Title = "ForgotPassword1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="~/Home/SendNewPassword">
    <h2>Enter the mail where we will send you authorization for a new password:</h2><br />
    <input name="mail" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter mail"><br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (ViewBag.NoSuchUser != "")
{
    <div style="color:red">
        @ViewBag.NoSuchUser
    </div>
}