
@{
    ViewBag.Title = "ForgotPassword2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="~/Home/ChangePassword">
    <div class="form-group">
        <label for="exampleInputEmail1">Confirm email address</label>
        <input name="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">New password</label>
        <input name="pass1" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm password</label>
        <input name="pass2" type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div style="color:red">
        @if (ViewBag.PasswordDontMatch != "")
        {
            @ViewBag.PasswordDontMatch <br />
        }
        @if (ViewBag.InvalidMail != "")
        {
            @ViewBag.InvalidMail <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>